# pandas<< series, dataframes

In [1]:
import pandas as pd

In [3]:
obj= pd.Series([4,5,6,7])
obj

0    4
1    5
2    6
3    7
dtype: int64

In [4]:
#series
a= pd.Series(["A", "B", "C", "D"])
a

0    A
1    B
2    C
3    D
dtype: object

In [5]:
#values
a.values

array(['A', 'B', 'C', 'D'], dtype=object)

In [6]:
#index
a.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
arr= pd.Series([11,22,33,44], index=["A", "B", "C", "D"])
arr

A    11
B    22
C    33
D    44
dtype: int64

# Access data

In [15]:
arr[1]

22

In [16]:
arr[2]

33

In [ ]:
#to get multiple values then we use

In [22]:
arr[[0,2,3]]

A    11
C    33
D    44
dtype: int64

In [24]:
arr>20

A    False
B     True
C     True
D     True
dtype: bool

In [ ]:
Modify data by +,-,/,*

In [25]:
arr-2

A     9
B    20
C    31
D    42
dtype: int64

In [26]:
arr+2

A    13
B    24
C    35
D    46
dtype: int64

In [27]:
arr/3

A     3.666667
B     7.333333
C    11.000000
D    14.666667
dtype: float64

In [28]:
arr*3

A     33
B     66
C     99
D    132
dtype: int64

In [29]:
arr%2

A    1
B    0
C    1
D    0
dtype: int64

In [31]:
"A" in arr

True

In [32]:
1 in arr

False

In [33]:
import numpy as np

In [41]:
array=np.array([11,22,33,44])
array

array([11, 22, 33, 44])

In [42]:
series=pd.Series(array)
series

0    11
1    22
2    33
3    44
dtype: int32

# From dictionary to pandas series

In [48]:
week_days={"monday":1, "tuesday":2, "wednesday":3, "thursday":4 , "friday":5, "saturday": 6, "sunday": 7}

In [49]:
week_series=pd.Series(week_days)
week_series

monday       1
tuesday      2
wednesday    3
thursday     4
friday       5
saturday     6
sunday       7
dtype: int64

# how to add 2 different series and what is the concept behind this???

In [55]:
A= pd.Series([33,44,55])              
B = pd.Series([4, 5, 6])
result=A+B
print(result)

0    37
1    49
2    61
dtype: int64

# two series have different lengths

In [56]:
A= pd.Series([33,44,55])              
B = pd.Series([4, 5])
result=A+B
print(result)       #there is no corresponding value for the third index in b,
                     #Pandas assigns NaN to that element in the result.

0    37.0
1    49.0
2     NaN
dtype: float64